.prodotto-ordine {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background: white;
    border-radius: 5px;
    padding: 8% 5%;

    // DROPDOWN NUMBERO
    .dropdown {
        background: white;
        padding: 3% 3%;
        margin-right: 30px;
        border: solid 2px #cccccc;
        border-radius: 3px;

        option:value {
            font-size: 30px;
            margin-top: 0px !important;
            margin-bottom: 0px !important;
        }
    }

    // TITOLO PRODOTTO
    .titolo-prodotto {
        font-size: 20px;
        max-width: 60%;
        text-transform: uppercase;
        font-family: 'Roboto', sans-serif;
        letter-spacing: 2px;
        font-weight: 400;
    }

    
    // PULSANTE CANCELLA PRODOTTO
    .cancella {
        border: none;
        border-radius: 50%;
        padding: 15px 23px;
        color: black;
        background: #e6e6e6;
        margin-left: 30px;
    }
}

// MEDIA QUERIES

@media screen and (min-width: 700px) {
    .prodotto-ordine {
        padding: 5% 3%;

        .dropdown {
            background: white;
            padding: 1% 2%;
        }
    }
} 

@media screen and (min-width: 1000px) {
    .prodotto-ordine {
        padding: 5% 3%;
    }
}  

@media screen and (min-width: 1200px) {
    .prodotto-ordine {
        padding: 3% 3%;
    }
}  