<div class="documento" *ngFor="let certificato of certificati">
    <img class="anteprima-documento" src="./assets/img/documentazione/anteprima-documento.png">
    <div class="descrizione-documento">
        <h1 class="titolo-documento">{{ certificato.descrizione }}</h1>
        <button type="submit" class="pulsante-scarica-documento" (click)="scarica(certificato.link)">
            <img src="./assets/img/documentazione/icona-scarica.png" style="height: 30px;">
            <h3>Scarica</h3>
        </button>
    </div>
</div>

<!-- <div *ngFor="let certificato of certificati">
<pdf-viewer src="{{ certificato.link }}" [render-text]="true" style="display: block;" >
    <h1 class="titolo-documento">{{ certificato.descrizione }}</h1> 
</pdf-viewer>
</div> -->


<!-- <div class="documento">
    <img class="anteprima-documento" src="./assets/img/documentazione/anteprima-documento.png">
    <div class="descrizione-documento">
        <h1 class="titolo-documento">Documento1</h1>
        <button type="submit" class="pulsante-scarica-documento">
            <img src="./assets/img/documentazione/icona-scarica.png" style="height: 30px;">
            <h3>Scarica</h3>
        </button>
    </div>
</div>

<div class="documento">
    <img class="anteprima-documento" src="./assets/img/documentazione/anteprima-documento.png">
    <div class="descrizione-documento">
        <h1 class="titolo-documento">Documento2</h1>
        <button type="submit" class="pulsante-scarica-documento">
            <img src="./assets/img/documentazione/icona-scarica.png" style="height: 30px;">
            <h3>Scarica</h3>
        </button>
    </div>
</div>


<div class="documento">
    <img class="anteprima-documento" src="./assets/img/documentazione/anteprima-documento.png">
    <div class="descrizione-documento">
        <h1 class="titolo-documento">Documento3</h1>
        <button type="submit" class="pulsante-scarica-documento">
            <img src="./assets/img/documentazione/icona-scarica.png" style="height: 30px;">
            <h3>Scarica</h3>
        </button>
    </div>
</div>


<div class="documento">
    <img class="anteprima-documento" src="./assets/img/documentazione/anteprima-documento.png">
    <div class="descrizione-documento">
        <h1 class="titolo-documento">Documento4</h1>
        <button type="submit" class="pulsante-scarica-documento">
            <img src="./assets/img/documentazione/icona-scarica.png" style="height: 30px;">
            <h3>Scarica</h3>
        </button>
    </div>
</div>


<div class="documento">
    <img class="anteprima-documento" src="./assets/img/documentazione/anteprima-documento.png">
    <div class="descrizione-documento">
        <h1 class="titolo-documento">Documento5</h1>
        <button type="submit" class="pulsante-scarica-documento">
            <img src="./assets/img/documentazione/icona-scarica.png" style="height: 30px;">
            <h3>Scarica</h3>
        </button>
    </div>
</div> -->