.documento {
    display: flex;
    align-items: center;
    margin-left: 35px;
    margin-top: 30px;

    .anteprima-documento {
        width: 100px;
    }

    .descrizione-documento {
        font-family: 'Roboto Condensed', sans-serif;
        margin-left: 30px;

        .titolo-documento {
            font-size: 30px;
        }

        .pulsante-scarica-documento {
            display: flex;
            align-items: center;
            background: none;
            border: none;
            font-size: 20px;

            h3 {
                margin-left: 10px;
                margin-bottom: 0px !important;
                font-size: 20px;
            }
        }
    }
}