<label type="button" class="colori-link">
    <div class="colori-parte-sinistra">
        <img src="./assets/img/dettaglio-soluzioni/icona-colori.jpg" style="width: 10%;">
        <h1 class="colori-disponibili-titolo">I colori disponibili</h1>     
    </div>
    <i class="fa fa-chevron-down" style="font-size: 20px;"></i>
</label>

<div class="lista-colori">
    <a class="colore" routerLink="#">
        <i class="fa fa-square" style="color:#a79585"></i>
        <p class="nome-colore">Cappuccino</p>
    </a>
    <a class="colore" routerLink="#">
        <i class="fa fa-square" style="color:#c89472"></i>
        <p class="nome-colore">Mapplewood</p>
    </a>
    <a class="colore" routerLink="#">
        <i class="fa fa-square" style="color:#a57354"></i>
        <p class="nome-colore">Tabacco</p>
    </a>
    <a class="colore" routerLink="#">
        <i class="fa fa-square" style="color:#987758"></i>
        <p class="nome-colore">Desert tan</p>
    </a>
    <a class="colore" routerLink="#">
        <i class="fa fa-square" style="color:#7f6560"></i>
        <p class="nome-colore">Marrone</p>
    </a>
    <a class="colore" routerLink="#">
        <i class="fa fa-square" style="color:#955c55"></i>
        <p class="nome-colore">Redwood</p>
    </a>
</div>
