.colori-link {
    color: grey;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 3% 5%;
    margin: 0px 5%;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;

    .colori-parte-sinistra {
        display: flex;
        align-items: center;

        .colori-disponibili-titolo {
            font-size: 30px;
            font-weight: 400;
            margin-left: 20px;
            margin-bottom: 0px !important;
        }
    }
}


.lista-colori {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 0% 10%;
    row-gap: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    padding: 5% 5%;
    margin: 2% 5%;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;

    .colore {
        display: flex;
        align-items: center;
        font-size: 30px;

        .nome-colore {
            margin-left: 10px;
            font-size: 20px;
            color: grey;
            margin-bottom: 0px !important;
        }
    }
}


@media screen and (min-width:850px) {
    .colori-link, .lista-colori {
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media screen and (min-width: 1300px) {
    .colori-link, .lista-colori {
        margin-right: 15%;
    }

    .colori-link {
        padding: 2% 5%;
    }
}

@media screen and (min-width: 1480px) {
    .colori-link, .lista-colori {
        margin-right: 20%;
    }
}

// RESPONSIVE LISTA COLORI

@media screen and (min-width:1000px) {
    .lista-colori {
        display: grid;
        grid-template-columns: 25% 25% 25%;
        padding: 2% 5%;
    }
}