.opzione {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), 
    url("/assets/img/dettaglio-soluzioni/prodotti.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10%;
    height: 15vh;
    padding: 7%;

    img {
        height: 150px;
    }

    .titolo-opzione {
        display: flex;
        align-items: center;
        color: white;

        h1 {
            margin-right: 20px;
            font-family: 'Roboto Condensed', sans-serif;
            letter-spacing: 2px;
            font-weight: 300;
            text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
        }
    }
}




@media screen and (min-width:570px) {
    .titolo-opzione {
        h1 {
            font-size: 40px;
        }
    }
}

@media screen and (min-width:1029px) {
    .opzione {
        margin: 6% 5%;
        width: 62%;

        img {
            height: 190px;
        }
    }

    .titolo-opzione {
        h1 {
            font-size: 40px;
        }
    }
}

@media screen and (min-width:1551px) {
    .opzione {
        width: 58%;
        height: 10vh;

        img {
            height: 220px;
        }
    }
}

@media screen and (min-width:1775px) {
    .opzione {
        width: 47%;
        height: 5vh;
    }
}