.opzione {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), 
    url("/assets/img/dettaglio-soluzioni/prodotti.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 10%;
    padding: 7% 7%;
    cursor: pointer;

    img {
        height: 150px;
    }

    .titolo-opzione {
        display: flex;
        align-items: center;
        color: white;

        h1 {
            margin-right: 20px;
            font-family: 'Roboto Condensed', sans-serif;
            letter-spacing: 2px;
            font-weight: 300;
            text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
        }
    }
}




@media screen and (min-width:570px) {
    .opzione {
        margin-top: 7%;
    }

    .titolo-opzione {
        h1 {
            font-size: 40px;
        }
    }
}

@media screen and (min-width: 850px) {
    .opzione {
        margin-top: 5%;
        padding: 5% 10%;
    }
}

@media screen and (min-width: 850px) {
    .opzione {
        margin-left: 5%;
        margin-right: 5%;
        padding: 3% 10%;
    }
}

@media screen and (min-width: 1300px) {
    .opzione {
        margin-right: 15%;
        padding: 2% 10%;
    }
}

@media screen and (min-width: 1480px) {
    .opzione {
        margin-right: 20%;
    }
}