<a routerLink="/colori-disponibili" class="opzione" id="opzione-colori-disponibili">
    <div class="spazio-vuoto"></div>
    <div class="titolo-opzione">
        <h1>Colori disponibili</h1>
        <i class="fa fa-chevron-right" style="font-size: 20px;"></i>
    </div>
</a>

<a routerLink="/tipologie" class="opzione" id="opzione-prodotti">
    <img src="./assets/img/dettaglio-soluzioni/prodotto.png">
    <div class="titolo-opzione">
        <h1>I prodotti</h1>
        <i class="fa fa-chevron-right" style="font-size: 20px;"></i>
    </div>
</a>

<a routerLink="/categorie-prodotto" class="opzione" id="opzione-attrezzature">
    <img src="./assets/img/dettaglio-soluzioni/attrezzature-img.png">
    <div class="titolo-opzione">
        <h1>Le attrezzature</h1>
        <i class="fa fa-chevron-right" style="font-size: 20px;"></i>
    </div>
</a>

<a routerLink="/video-tutorial" class="opzione" id="opzione-video-tutorial">
    <div class="spazio-vuoto"></div>
    <div class="titolo-opzione">
        <h1>Video tutorial</h1>
        <i class="fa fa-chevron-right" style="font-size: 20px;"></i>
    </div>
</a>

<a routerLink="/categorie-prodotto" class="opzione" id="opzione-istruzioni-posa">
    <div class="spazio-vuoto"></div>
    <div class="titolo-opzione">
        <h1>Istruzioni di posa</h1>
        <i class="fa fa-chevron-right" style="font-size: 20px;"></i>
    </div>
</a>

<a routerLink="/categorie-prodotto" class="opzione" id="opzione-certificati">
    <div class="spazio-vuoto"></div>
    <div class="titolo-opzione">
        <h1>I certificati</h1>
        <i class="fa fa-chevron-right" style="font-size: 20px;"></i>
    </div>
</a>

<a routerLink="/categorie-prodotto" class="opzione" id="opzione-particolari-esecutivi">
    <div class="spazio-vuoto"></div>
    <div class="titolo-opzione">
        <h1>I particolari esecutivi</h1>
        <i class="fa fa-chevron-right" style="font-size: 20px;"></i>
    </div>
</a>

<a routerLink="/categorie-prodotto" class="opzione" id="opzione-documentazione-sistema">
    <div class="spazio-vuoto"></div>
    <div class="titolo-opzione">
        <h1>Documentazione di sistema</h1>
        <i class="fa fa-chevron-right" style="font-size: 20px;"></i>
    </div>
</a>