// IMMAGINI SFONDO OPZIONI

#opzione-colori-disponibili {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), 
    url("/assets/img/dettaglio-soluzioni/colori-disponibili.jpg");
}

#opzione-prodotti {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), 
    url("/assets/img/dettaglio-soluzioni/prodotti.png");
}

#opzione-attrezzature {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), 
    url("/assets/img/dettaglio-soluzioni/attrezzature.png");
}

#opzione-video-tutorial {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), 
    url("/assets/img/dettaglio-soluzioni/video-tutorial-istruzioni.png");
}

#opzione-istruzioni-posa {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), 
    url("/assets/img/dettaglio-soluzioni/istruzioni-posa.jpg");
}

#opzione-certificati {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), 
    url("/assets/img/dettaglio-soluzioni/certificati.png");
}

#opzione-particolari-esecutivi {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), 
    url("/assets/img/dettaglio-soluzioni/particolari-esecutivi.jpg");
}

#opzione-documentazione-sistema {
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), 
    url("/assets/img/dettaglio-soluzioni/documentazione-sistema.png");
}




// CSS PER IL RESTO

.opzione {
    position: relative;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 7% 7%;
    cursor: pointer;

    img {
        height: 150px;
    }

    .titolo-opzione {
        display: flex;
        align-items: center;
        color: white;

        h1 {
            margin-right: 20px;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 30px;
            text-align: right;
            letter-spacing: 2px;
            font-weight: 300;
            text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
        }
    }
}




// MEDIA QUERIES

@media screen and (min-width:570px) {
    .opzione {
        margin-top: 20px;
    }

    .titolo-opzione {
        h1 {
            font-size: 40px;
        }
    }
}

@media screen and (min-width: 850px) {
    .opzione {
        padding: 5% 10%;
    }
}

@media screen and (min-width: 850px) {
    .opzione {
        margin-left: 5%;
        margin-right: 5%;
        padding: 3% 10%;
    }
}

@media screen and (min-width: 1300px) {
    .opzione {
        margin-right: 15%;
        padding: 1% 10%;
    }
}

@media screen and (min-width: 1480px) {
    .opzione {
        margin-right: 20%;
    }
}