    .form-group {
        display: flex;
        flex-direction: column;
        align-items: center;
        //position:fixed;
        //left: 50%;
        //width:30em;
        //height:18em;
        //margin-top: -9em; 
        //margin-left: -15em; 
        font-family: 'Roboto Condensed', sans-serif;
        padding: 130px 10%;
    
        #username {
            margin-bottom: 15px;
        }
    
        #username, #password {
            font-size: 25px;
            border: solid 2px black;
        }
    
        .pulsante-login {
            color: white;
            background: black;
            font-size: 30px;
            text-transform: uppercase;
            font-family: 'Roboto Condensed', sans-serif;
            letter-spacing: 2px;
            padding-top: 10px;
            padding-bottom: 10px;
            width: 100%;
            border-radius: 4px;
        }

        .richiedi-accesso {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            padding: 15px 30px;
            margin-top: 50px;
            width: 100%;


            h1 {
                font-size: 30px;
            }
        }


        .richiedi-accesso-down {
            margin-top: 30px;
            box-shadow: 0 0 15px rgba(0,0,0,0.2);
            background: white;
            min-height: 50vh;
            padding: 50px;
            width: 100%;

            .space-down {
                margin-bottom: 15px;
            }

            .pulsante-invia-richiesta {
                color: white;
                background: black;
                font-size: 30px;
                text-transform: uppercase;
                font-family: 'Roboto Condensed', sans-serif;
                letter-spacing: 2px;
                padding-top: 10px;
                padding-bottom: 10px;
                width: 100%;
                border-radius: 4px;
            }
        }
    }

    @media screen and (min-width: 600px) {

        .form-group {
            padding: 130px 20%;
        }
    }


    @media screen and (min-width: 994px) {

        .form-group {
            padding: 130px 30%;
        }
    }


    @media screen and (min-width: 1350px) {

        .form-group {
            padding: 130px 35%;
        }
    }