<div class="navigation" >

  <a routerLink="/soluzioni">
    <img class="logo" src="./assets/img/menu/logo-idealwork.png" style="height: 70px;">
  </a>

  <div class="parte-destra">
    <mat-form-field appearance="fill">
      <mat-label>Lingua</mat-label>
      <mat-select>
        <mat-option *ngFor="let lingua of lingue" [value]="lingua.value">
          {{lingua.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-slider min="1" max="100" step="1" value="1"></mat-slider>
    <button class="ham"></button>
    <nav class="navbar">
      <ul>
        <li><a class="menuLink" routerLink="/soluzioni">Soluzioni</a></li>
      </ul>
    </nav>
  </div>

</div>

