<div class="navigation">

  <a routerLink="/soluzioni">
    <img class="logo" src="./assets/img/menu/logo-idealwork.png" style="height: 70px;">
  </a>
  <button class="ham"></button>
  <nav class="navbar">
    <ul>
      <li><a class="menuLink" routerLink="/soluzioni">Soluzioni</a></li>
      <li><a class="menuLink" routerLink="/elenco-ordini">I miei ordini</a></li>
      <li><a class="menuLink" routerLink="/riepilogo-ordine">Carrello</a></li>
      <li><a class="menuLink" routerLink="/novità">Novità</a></li>
      <li><a class="menuLink" routerLink="#">Torna all'app</a></li>
    </ul>
  </nav>

</div>

