<!-- Load an icon library to show a hamburger menu (bars) on small screens -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Top Navigation Menu -->
<div class="topnav">
  <a href="#home" class="active"><img id="logo" src="./assets/img/menu/logo-idealwork.png" style="height: 50px;"></a>
  <!-- Navigation links (hidden by default) -->
  <div id="myLinks">
    <div id="links">
      <a routerLink="/Soluzioni">Soluzioni</a>
      <a href="#">I miei ordini</a>
      <a href="#">Carrello</a>
      <a href="#">Torna all'app</a>
    </div>
    <i class="fa fa-times" style="font-size: 30px"></i>
  </div>

  <!-- "Hamburger menu" / "Bar icon" to toggle the navigation links -->
  <a href="javascript:void(0);" class="icon">
    <i class="fa fa-bars" style="font-size: 30px;"></i>
  </a>
</div>

<!-- MENU HAMBURGER MOLTO BELLO https://dev.to/emmaadesile/how-to-create-a-hamburger-menu-icon-with-css-and-javascript-1kgd -->