#intestazione-soluzioni {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
    padding: 5%;

    h1 {
        font-weight: 400;
    }

    p {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        color: grey;
        font-weight: 300;
        margin-top: 20px;
    }
}

.list-group-item {

    border: 0px !important;
    padding: 0px 0px !important;
    width: 100vw;
    height: fit-content;

    .soluzione {
        width: 100vw;
        height: 250px;
        display: flex;
        font-family: 'Roboto Condensed', sans-serif;
    
        .immagine-soluzione {
            width: 60%;
            background-repeat: no-repeat;
            background-size: cover;
        }
    
        .titolo-soluzione {
            color: white;
            width: 250px;
            position: relative;
        
            h1 {
                position: absolute;
                bottom: 5%;
                right: 15%;
                font-size: 20px;
                border-top: solid 2px white;
                text-align: right;
                font-weight: 300;
                letter-spacing: 2px;
                width: 70%;
                padding-top: 7px;
            }
        }
    }
}



//MEDIA QUERIES


@media screen and (min-width:651px) {
    .list-group-item {
        .soluzione {
            padding-left: 5%;
            padding-right: 5%;
            margin-bottom: 10px;
        }
    }
}

@media screen and (min-width:950px) {
    .list-group-item {
        .soluzione {
            height: 280px;
        }

        .titolo-soluzione {
            width: 280px;
        }
    }
}


@media screen and (min-width:1300px) {
    .list-group-item {
        .soluzione {
            height: 330px;
        }

        .titolo-soluzione {
            width: 330px !important;
        }
    }
}
