<div class="esempio">
    <h1>L'effetto Architop</h1>
    <p>L'effetto ottenuto è quello di una superficie continua 
        e senza giunti di dilatazione, brutale, contemporanea, 
        graffiante che si crea con materiali robusti, forti, 
        potenti, come il cemento.
    </p>
</div>

<!-- <owl-carousel [options]="mySlideOptions" [items]="mySlideImages" [carouselClasses]="['owl-theme', 'sliding']" >
    <div class="item" *ngFor="let image of mySlideImages;let i = index">
    <div>
        <img src={{image}}/>
    </div>
    </div>
</owl-carousel> -->