.esempio {
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
    padding: 5%;
    margin: 10% 0%;

    h1 {
        font-weight: 400;
    }

    p {
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5;
        color: grey;
    }
}

@media screen and (min-width:750px) {
    .esempio {
        padding: 5% 5% 2% 5%;

        p {
            font-size: 20px;
        }
    }
}


@media screen and (min-width:1000px) {
    .esempio p {
        width: 90%;
    }
}

@media screen and (min-width:1455px) {
    .esempio p {
        width: 80%;
    }
}

@media screen and (min-width:1777px) {
    .esempio p {
        width: 70%;
    }
}