<div class="esempio">
    <h1>L'effetto {{ soluzione | titlecase }}</h1>
    <p> {{ testo | titlecase }}
    </p>
</div>

<div class="slider">
  <div class="slides">
    <div style="background-image: url({{immagine.link}})" *ngFor="let immagine of immagini"></div>
  </div>
</div>

<!--
<div class="slider">
    <div class="slides">
      <div id="slide-1" style="background-image: url(/assets/img/dettaglio-soluzioni/slide1.jpg); background-size: cover"></div>
      <div id="slide-2" style="background-image: url(/assets/img/dettaglio-soluzioni/slide2.jpg); background-size: cover"></div>
      <div id="slide-3" style="background-image: url(/assets/img/dettaglio-soluzioni/slide3.png); background-size: cover"></div>
      <div id="slide-4" style="background-image: url(/assets/img/dettaglio-soluzioni/slide4.png); background-size: cover"></div>
    </div>
  </div>
-->