.wrapper {
    display: flex;
    flex-wrap: wrap;
    background: #f0edea;
    min-height: 70vh;
    padding: 60px 10%;

    .prodotto {
        background: white;
        box-shadow: 0 0 15px rgba(0,0,0,0.2);
        font-family: 'Roboto', sans-serif;
        font-weight: 200;
        width: 100%;
        padding: 30px 30px 80px 30px;
        margin-bottom: 10px;

        .codice {
            text-align: left;
            border-bottom: solid 1.3px black;
            text-transform: uppercase;
            letter-spacing: 3px;
            font-weight: 400;
            font-size: 1.5em;
        }

        .contenuto-prodotto {
            display: flex;
            flex-direction: column;
            align-items: center;

            .immagine-prodotto {
                height: 150px;
                margin: 10% 0% 10% 0%;
            }

            .titolo-prodotto, .descrizione-prodotto {
                text-align: left;
                margin-bottom: 15px;
            }

            .titolo-prodotto {
                color: #666666;
                letter-spacing: 1px;
                
                font-weight: 400;
            }

            .descrizione-prodotto {
                font-size: 15px;
                color: #666666;
            }

            .pulsante-vedi-prodotto {
                margin-top: 20px;
                text-transform: uppercase;
                cursor: pointer;
                font-size: 20px;
                border: solid 2px black;
                color: black;
                padding: 10px;
                text-decoration: none;
                font-weight: 400;
                letter-spacing: 3px;
                img {
                    background-position: center;
                }
            }
        }
    }
}



// MEDIA QUERIES 

    // PULSANTE ACCEDI PER PREZZO

@media screen and (min-width: 950px) {

    .contenuto-prodotto {
        .pulsante-vedi-prodotto {
            padding: 3% 6%;
        }
    }
}

@media screen and (min-width: 1300px) {

    .contenuto-prodotto {
        .pulsante-vedi-prodotto {
            padding: 1% 1%;
        }
    }
}


    // DISPOSIZIONE ELEMENTI
    

@media screen and (min-width: 780px) {

    .wrapper {
        .prodotto {
            width: 48%;
            margin-right: 10px;
        }
    }

}

@media screen and (min-width: 1230px) {

    .wrapper {
        .prodotto {
            width: 32%;
            margin-right: 10px;
        }
    }

}

@media screen and (min-width: 1660px) {

    .wrapper {
        .prodotto {
            width: 24%;
        }
    }

}