<div class="wrapper">
    <div class="prodotto">
        <p class="codice">Hard-acq</p>
        <div class="contenuto-prodotto">
            <img class="immagine-prodotto" src="/assets/img/lista-prodotti/aqua.png">
            <h2 class="titolo-prodotto">Corazzante hardener acqua marina "c" in vasi da 25 kg</h2>
            <p class="descrizione-prodotto">Polvere corazzante al quarzo per pavimentazioni in cls, stampati, stencil ed architop. Disponibile in varie colorazioni. Confezionata in vasi...</p>
            <a class="pulsante-vedi-prodotto" routerLink="/prodotto">vedi prodotto</a>
        </div>
    </div>

    <div class="prodotto">
        <p class="codice">Hard-bei</p>
        <div class="contenuto-prodotto">
            <img class="immagine-prodotto" src="/assets/img/lista-prodotti/pesca.png">
            <h2 class="titolo-prodotto">Corazzante hardener pesca in vasi da 25 kg</h2>
            <p class="descrizione-prodotto">Polvere corazzante al quarzo per pavimentazioni in cls, stampati, stencil ed architop. Disponibile in varie colorazioni. Confezionata in vasi...</p>
            <a class="pulsante-vedi-prodotto" routerLink="/prodotto">vedi prodotto</a>
        </div>
    </div>

    <div class="prodotto">
        <p class="codice">Hard-antr</p>
        <div class="contenuto-prodotto">
            <img class="immagine-prodotto" src="/assets/img/lista-prodotti/antracite.png">
            <h2 class="titolo-prodotto">Corazzante hardener antracite in vasi da 25 kg</h2>
            <p class="descrizione-prodotto">Polvere corazzante al quarzo per pavimentazioni in cls, stampati, stencil ed architop. Disponibile in varie colorazioni. Confezionata in vasi...</p>
            <a class="pulsante-vedi-prodotto" routerLink="/prodotto">vedi prodotto</a>
        </div>
    </div>
</div>