.elenco-ordini-wrapper {
    padding: 10% 3%;
    background: #f0edea;
    min-height: 100vh;

    .titolo-riepilogo-ordine {
        font-family: 'Roboto Condensed', sans-serif;
        letter-spacing: 2px;
    }
}

