.scarica-app {
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),
    url(/assets/img/dettaglio-soluzioni/sfondo-app.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 2px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    padding-top: 20%;
    padding-left: 5%;
    padding-right: 5%;

    h1, h2, .scarica-app-links {
        padding-left: 5%;
    }

    h2 {
        text-transform: uppercase;
        font-size: 25px;
        margin-top: 5%;
    }

    .scarica-app-links {
        display: flex;
        
        a>img {
            width: 200px;
            margin-right: 10px;
            margin-top: 15%;
        }
    }

    .mockup-app {
        max-width: 100%;
        margin-top: 15%;
    }
}

@media only screen and (max-width: 278px) {
    .scarica-app-links {
        display: flex;
        
        a>img {
            width: 80% !important;
            margin-right: 10px;
            margin-top: 15%;
        }
  }
}

@media only screen and (min-width:279px) and (max-width: 343px) {
    .scarica-app-links {
        display: flex;
        
        a>img {
            width: 120px !important;
            margin-right: 10px;
            margin-top: 15%;
        }
  }
}

@media only screen and (min-width: 344px) and (max-width: 456px) {
    .scarica-app-links {
        display: flex;
        
        a>img {
            width: 150px !important;
            margin-right: 10px;
            margin-top: 15%;
        }
  }
}

@media screen and (min-width:1085px) {
    .scarica-app {
        display: flex; 
        flex-direction: row;
        align-items: center;
        padding-top: 0%;

        .mockup-app {
            margin-top: 5%;
        }
    }
}
