<div class="scarica-app">
    <div class="scarica-app-destra">
        <h1>Vuoi fare un calcolo dei materiali?</h1>
        <h2>Scarica la nostra app</h2>
        <div class="scarica-app-links">
            <a href="https://play.google.com/store/apps/details?id=it.jumpit.idealwork" target="_blank"><img src="../assets/img/dettaglio-soluzioni/google-play.png"></a>
            <a href="https://play.google.com/store/apps/details?id=it.jumpit.idealwork" target="_blank"><img src="../assets/img/dettaglio-soluzioni/app-store.png"></a>
        </div>
    </div>
    <img src="../assets/img/dettaglio-soluzioni/mockup-app.png" class="mockup-app">
</div>