.lista-colori-wrapper {
    padding: 5%;

    .titolo-lista-colori, .sottotitolo-lista-colori {
        font-family: 'Roboto Condensed', sans-serif;
        letter-spacing: 2px;
    }

    .sottotitolo-lista-colori {
        font-size: 18px;
        font-weight: 300;
        line-height: 1.5;
        color: grey;
        text-transform: uppercase;
    }
    
}


@media screen and (min-width: 720px) {
    .lista-colori-wrapper {
        padding: 3%;
    }
} 