<div id="lista-colori" *ngFor = "let colore of colori">
    <div class="colore">
    <div class="cromia" [ngStyle]="{background: (colore.img) ? 'url('+colore.img+')' : 'url(./assets/img/immagine-non-disponibile-destra.jpg)'}">
        <div class="descrizione-cromia">
            <p class="titolo-cromia"> {{ colore.testo }} </p>
            <p class="codice-cromia"> {{ colore.codice_materiale }} </p>
        </div>
    </div>
</div>
</div>


<!--
<div id="lista-colori">
    <div class="colore">
        <div class="cromia" style="background-color: #A47D5D;"></div>
        <div class="descrizione-cromia">
            <p class="titolo-cromia">Desert Tan</p>
            <p class="codice-cromia">Hard-des</p>
        </div>
    </div>

    <div class="colore">
        <div class="cromia" style="background-color: #886D66;"></div>
        <div class="descrizione-cromia">
            <p class="titolo-cromia">Marrone</p>
            <p class="codice-cromia">Hard-mar</p>
        </div>
    </div>

    <div class="colore">
        <div class="cromia" style="background-color: #C16D5C;"></div>
        <div class="descrizione-cromia">
            <p class="titolo-cromia">Cotto</p>
            <p class="codice-cromia">Hard-cdt</p>
        </div>
    </div>

    <div class="colore">
        <div class="cromia" style="background-color: #CF8871;"></div>
        <div class="descrizione-cromia">
            <p class="titolo-cromia">Pesca</p>
            <p class="codice-cromia">Hard-pes</p>
        </div>
    </div>

    <div class="colore">
        <div class="cromia" style="background-color: #E6AE9C;"></div>
        <div class="descrizione-cromia">
            <p class="titolo-cromia">Coral</p>
            <p class="codice-cromia">Hard-cdr</p>
        </div>
    </div>

    <div class="colore">
        <div class="cromia" style="background-color: #D7C0B5;"></div>
        <div class="descrizione-cromia">
            <p class="titolo-cromia">Cream</p>
            <p class="codice-cromia">Hard-cre</p>
        </div>
    </div>

    <div class="colore">
        <div class="cromia" style="background-color: #959F9B;"></div>
        <div class="descrizione-cromia">
            <p class="titolo-cromia">Acqua Marina</p>
            <p class="codice-cromia">Hard-acq</p>
        </div>
    </div>

    <div class="colore">
        <div class="cromia" style="background-color: #6F825F;"></div>
        <div class="descrizione-cromia">
            <p class="titolo-cromia">Green</p>
            <p class="codice-cromia">Hard-gre</p>
        </div>
    </div>
</div>
-->