<div class="wrapper">
    <a class="categoria-prodotto" routerLink="/lista-prodotti">
        <img class="immagine-categoria-prodotto" src="../assets/img/categorie-prodotto/prodotto.png">
        <div class="titolo-e-freccia">
            <h1 class="titolo-categoria-prodotto">Color Hardener</h1>
            <img class="freccia-categoria-prodotto" src="../assets/img/categorie-prodotto/freccia.png">
        </div>
    </a>

    <a class="categoria-prodotto" routerLink="/lista-prodotti">
        <img class="immagine-categoria-prodotto" src="../assets/img/categorie-prodotto/antievaporanti.jpg">
        <div class="titolo-e-freccia">
            <h1 class="titolo-categoria-prodotto">Antievaporante</h1>
            <img class="freccia-categoria-prodotto" src="../assets/img/categorie-prodotto/freccia.png">
        </div>
    </a>

    <a class="categoria-prodotto" routerLink="/lista-prodotti">
        <img class="immagine-categoria-prodotto" src="../assets/img/categorie-prodotto/quarzo-per-spolvero.png">
        <div class="titolo-e-freccia">
            <h1 class="titolo-categoria-prodotto">Quarzo per spolvero</h1>
            <img class="freccia-categoria-prodotto" src="../assets/img/categorie-prodotto/freccia.png">
        </div>
    </a>

    <a class="categoria-prodotto" routerLink="/lista-prodotti">
        <img class="immagine-categoria-prodotto" src="../assets/img/categorie-prodotto/primer.png">
        <div class="titolo-e-freccia">
            <h1 class="titolo-categoria-prodotto">Primer Epoxy-Coat</h1>
            <img class="freccia-categoria-prodotto" src="../assets/img/categorie-prodotto/freccia.png">
        </div>
    </a>

    <a class="categoria-prodotto" routerLink="/lista-prodotti">
        <img class="immagine-categoria-prodotto" src="../assets/img/categorie-prodotto/idealpuwb-easy.png">
        <div class="titolo-e-freccia">
            <h1 class="titolo-categoria-prodotto">Idealpubwb Easy</h1>
            <img class="freccia-categoria-prodotto" src="../assets/img/categorie-prodotto/freccia.png">
        </div>
    </a>

    <a class="categoria-prodotto" routerLink="/lista-prodotti">
        <img class="immagine-categoria-prodotto" src="../assets/img/categorie-prodotto/wb-primer.png">
        <div class="titolo-e-freccia">
            <h1 class="titolo-categoria-prodotto">Wb Primer</h1>
            <img class="freccia-categoria-prodotto" src="../assets/img/categorie-prodotto/freccia.png">
        </div>
    </a>
</div>
